.header {
    background: #3c4044;
    color: #fff;
    padding: 30px 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
}

.nav a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin: 0 15px;
}

.nav a.active {
    color: #ffcc01;
}

@media (max-width: 500px) {
    .content {
        display: block;
        text-align: center;
    }

    .logo {
        margin-bottom: 30px;
    }
}